.App {
  text-align: center;
  background-color: DimGrey;
  color: white;
  height: 100vh;
}

.selected {
  color: PowderBlue;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.notSelected {
  color: white;
}

.hidden {
  display: none;
}

.notHidden {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
